AddressFamily inet
ListenAddress 0.0.0.0
HostKey /run/sshd/ssh_host_ed25519_key
PidFile /run/sshd/sshd.pid
LogLevel VERBOSE
SyslogFacility AUTH

PermitRootLogin no
PasswordAuthentication no
KbdInteractiveAuthentication no
PubkeyAuthentication yes
AuthenticationMethods publickey
AuthorizedKeysFile /run/sshd/authorized_keys
PermitEmptyPasswords no
UsePAM no
StrictModes yes
AllowUsers sidecarbackup
MaxAuthTries 2
MaxSessions 2
MaxStartups 2:30:4
LoginGraceTime 30

AllowAgentForwarding no
AllowTcpForwarding no
GatewayPorts no
PermitTunnel no
PermitUserEnvironment no
X11Forwarding no
PermitUserRC no
PermitTTY no
Compression no
UseDNS no

Subsystem sftp internal-sftp

Match User sidecarbackup
    ChrootDirectory /srv/portfolio-sidecar
    ForceCommand internal-sftp -d /repository -u 0077
    DisableForwarding yes
    PermitTTY no
